body{
    margin: 0px;
    padding: 0px;

}
#navbar-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #444;
    border-bottom: 3px solid #222;
}
#title{
    color: #eee;
    margin: 0px;
    padding: 0px;
    display: grid;
    
}
#title h2{
    grid-auto-rows: 1fr;
    vertical-align: middle;
    padding: auto;
    margin: auto;
}
#navbar-list{
    margin: 0px;
    padding: 0px;
    display: grid;
    
}

#navbar-list  ul{
    grid-auto-rows: 1fr;
    list-style-type: none;
    overflow: hidden;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    
    
    
}

#navbar-list ul li{
    float: left;
   
    
}

#navbar-list ul li a{
    color: #eee;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
}

#navbar-list ul li:hover {
    background-color: #222;
}

@media only screen and (max-width: 768px){
    #title{
        display: none;
    }
}
